<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
</head>
<body>
<div>
    <button type="button" class="layui-btn" onclick="changPage()" style="position: absolute;right: 10px;top: 10px">页面切换</button>
    <div style="width: 1000px;margin: auto;margin-top: 5%;">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">输入车牌号</label>
                <div class="layui-input-block">
                    <input type="text" name="carId" lay-verify="carId" autocomplete="off" placeholder="请输入车牌号"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">输入毛重</label>
                <div class="layui-input-block">
                    <input type="text" name="mWeight" lay-verify="mWeight" autocomplete="off" placeholder="请输入毛重"
                           class="layui-input" style="width: calc(100% - 50px);display: inline-block">
                    <span>/kg</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">输入料</label>
                <div class="layui-input-block">
                    <input type="text" name="liao" lay-verify="liao" autocomplete="off" placeholder="请输入料"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item" style="text-align: right">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">提交并保存至EXCEL</button>
<!--                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">EXCEL下载</button>-->
                </div>
            </div>
        </form>
        <table class="layui-hide" id="test"></table>
    </div>
</div>
</body>
<script th:src="@{/js/jquery-3.0.0.js}"></script>
<script th:src="@{/layui/layui.all.js}"></script>
<script th:inline="none">
    var tableData = [];
    layui.use(['form','table'], function(){
        var form = layui.form
        //自定义验证规则
        form.verify({
            mWeight: [
                /^(([1-9][0-9]*)|(([0]\.\d{1,2}|[1-9][0-9]*\.\d{1,2})))$/
                ,'毛重只能输入数字，且最多只有保留两位小数'
            ]
        });
        //监听提交
        form.on('submit(demo1)', function(data){
            console.log(data);
            $.ajax({
                url: "searchForExcel",
                type: "post",
                data: {...data.field},
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    if(data.code === 0) {
                        tableData = data.data;
                        var table = layui.table;
                        table.render({
                            elem: '#test'
                            , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                            , cols: [[
                                {field: 'carId', title: '车牌号'}
                                , {field: 'tare', title: '皮重（/kg）'}
                                , {field: 'mWeight', title: '毛重（/kg）'}
                                , {field: 'jWeight', title: '净重（/kg）'}
                                , {field: 'liao', title: '料'}
                                , {field: 'createTime', title: '创建时间'}
                            ]],
                            data:tableData
                        });
                    }else{
                        alert(data.msg);
                    }
                }
            })

            return false;
        });
    });

    function changPage() {
        window.location.href="oper";
    }
</script>
</html>

